<p>
  <%= @business_name %> are the best at what we do.
</p>
<p>
  <%# intro paragraph from the organisation JSON for more differentiation %>
  <% @intro_paragraph.each { |intro_paragraph| -%>
    <%= intro_paragraph %>
  <% } -%>
</p>
