<?php include 'connect.php'; ?>

<%# Note, these pages use multiple bootstap templates chopped up and rebuilt
and can be found at: https://getbootstrap.com/docs/4.0/getting-started/introduction/%>

<% $page_title = 'Log-In' %>
<%= scope.function_template(['commando/subtemplates/header.html.erb']) %>

<body>

  <%= scope.function_template(['commando/subtemplates/nav.html.erb']) %>

  <div class="container">
    <div class="row">
      <div id="form-holder">
        <form method="POST" action="authentication.php">
          <h3>Login</h3>
          <label><b>Username</b></label><br />
          <input type="text" name="username"><br /><br />
          <label><b>Password</b></label><br />
          <input type="password" name="password"><br /><br />
          <div class="row">
            <div class="col-5">
              <input type="submit" name="submit" value="Log-In" id="login-button">
            </div>
            <div class="col-7" id="remember">
              <label>Remember Me!</label>
              <input type="checkbox" value="1">
            </div>
          </div>
        </form>
      </div>
    </div>
    <%# facilitates the verbose error message vulnerability, this is taken from lauras code %>
    <div class="row">
      <?php
          if(isset($_GET['LoginError'])){
            //how to pull the error taken from https://stackoverflow.com/questions/10048721/php-passing-a-variable-with-header-redirect (line 23)
            $LoginError = $_GET['LoginError'];
            ?>
            <strong class="error"><?php echo $LoginError; ?></strong>
            <?php
          }
        ?>
    </div>
  </div>

  <%# This is taken from: https://getbootstrap.com/docs/4.0/getting-started/introduction/%>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

  <%= scope.function_template(['commando/subtemplates/footer.html.erb']) %>

</html>
