<?php include 'connect.php';?>

<!DOCTYPE html>
<html lang="en">

<% $page_title = 'Not Found' %>
<%= scope.function_template(['commando/subtemplates/header.html.erb']) %>

<body>
<%= scope.function_template(['commando/subtemplates/nav.html.erb']) %>
<div class="container container-fluid">
  <div class="jumbotron">
    <img src="images/not_found.jpg" alt="not found">
  </div>
</div>
</body>

<%= scope.function_template(['commando/subtemplates/libraries.html.erb']) %>

</html>
