<?php include 'connect.php';?>

<!DOCTYPE html>
<html lang="en">

<% $page_title = 'Product' %>
<%= scope.function_template(['commando/subtemplates/header.html.erb']) %>

<body>

  <%= scope.function_template(['commando/subtemplates/nav.html.erb']) %>

  <div class="container container-fluid">

		<% @idor.each { |idor| -%>
			<%= idor %>
		<%} -%>

	</div>

    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="css/bootstrap.4.3.1.min.js"></script>

</body>

<%= scope.function_template(['commando/subtemplates/footer.html.erb']) %>

</html>
