[Unit]
Description=Elastalert index creation

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/ruby /usr/local/bin/elastalert-index.rb
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
WorkingDirectory=/opt/elastalert
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target